<link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for('/css/detail/notice.css') %>">
<div class="notice">
    <div class="row rows card">
        <div class="notices col l12 offset-l2 m12 offset-m1 s12 offset-s1">
            <div class="textsst">
                <center>📝 公告</center>
                <br>
                #近况  适配Pjax源码bug较多，暂不上线，可先使用<a href="https://github.com/ialoe/hexo-theme-islu">未适配Pjax源码</a>~<span style="color:pink">若无法打开请将github更改为gitee</span>
                <br>
                #方案 对于更新我只能说有空的话会水几篇文章，见谅 ~
                <br>
                #预见 最近搭建了一个私人云盘(无需服务器)用于存储文件，<a href="https://pan.islu.cn">云上尊享</a>（未配CDN）~ 最近有空的话会更新一下教程
                <br>
                #资助 维护博客不易，憨憨叹气，考虑到用户体验关闭了谷歌广告~，所以可以给买个馒头吗，卟卟，资助链接 <code>
                    <a href="/rewardModal/" class="hurens">资助系统</a></code> ~
                <br>
                #微信 最近创建了微信小程序，搜索名称：闲花手札，扫一扫
                <code class="wxgzh">
                    <a class="gzh" href="javascript:;">
                        <i>小程序二维码</i>
                        <div id="sweep_code">
                            <img src="https://files.islu.cn/detail/xcx.jpg" width="150" height="150">
                        </div>
                    </a>
                </code>~
            </div>
        </div>
    </div>
</div>

